<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>com.merit.tlg.services.CORSFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>GetQuestionnaire</servlet-name>
		<servlet-class>com.merit.tlg.services.GetQuestionnaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionnaire</servlet-name>
		<url-pattern>/servlet/GetQuestionnaire</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetQuestionnaires</servlet-name>
		<servlet-class>com.merit.tlg.services.GetQuestionnaires</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionnaires</servlet-name>
		<url-pattern>/servlet/GetQuestionnaires</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetQuestionnaireDetails</servlet-name>
		<servlet-class>com.merit.tlg.services.GetQuestionnaireDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionnaire</servlet-name>
		<url-pattern>/servlet/GetQuestionnaireDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPageDetails</servlet-name>
		<servlet-class>com.merit.tlg.services.GetPageDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPageDetails</servlet-name>
		<url-pattern>/servlet/GetPageDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SavePage</servlet-name>
		<servlet-class>com.merit.tlg.services.SavePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePage</servlet-name>
		<url-pattern>/servlet/SavePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitQuestionnaire</servlet-name>
		<servlet-class>com.merit.tlg.services.SubmitQuestionnaire</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitQuestionnaire</servlet-name>
		<url-pattern>/servlet/SubmitQuestionnaire</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.merit.tlg.services.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/servlet/Login</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>register.html</welcome-file>
	</welcome-file-list>


</web-app>